body{
	background:#f5f5f5;
	color:#000000;
	font-family:candara,arial;
	font-size:16px;
	width:99%;
}

#q{
	background:url("cdc6trixlnoepy68bsqlbxor5yfhad0x.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% auto;
	text-align:center;
	height:100px;
	width:99%
}

.seva{
	float:left;
	width:33.33%;
	text-align:center;
	padding:15px 0;
	background:#4CAF50;
	color:white;
	text-decoration:none;
	font-weight:bold;
	border:2px solid #3e8e41;
	box-sizing:border-box;
}

.seva:hover{
	background:#3e8e41;
}

#e{
	background:#ffcccc;
	float:left;
	width:30%;
	height:400px;
	text-align:center;
}

#e img{
	height:300px;
	width:80%;
	display:block;
	margin:0 auto
}

#r{
	background:#CCCCFF;
	float:right;
	width:69%;
	height:400;
}

#y{clear:both;}

#t{
	background:#99cccc;
	height:80px;
	width:100%;
}